<template>
<div>
  <b-img src="https://scontent.futp1-1.fna.fbcdn.net/v/t1.0-9/72354805_983338002006964_7015705069425262592_n.jpg?_nc_cat=105&_nc_oc=AQkpD_wo3xRfCVGDSkJNUWNqG0fg1JEAnjY8-r2z4PS1czrBsWYteNkCrIBtAUgcJKE&_nc_ht=scontent.futp1-1.fna&oh=566d1e4ebe615cd537fa6347607989e2&oe=5E9E4F73" fluid alt="Responsive image"></b-img>
</div>
</template>
